<footer class="bg-white w-full mt-8 py-8">
    <div class="container mx-auto px-4 container__size">
        <div class="flex flex-col items-center">
            <h2 class="text-3xl font-medium mb-4">© Cocinitas 2024</h2>
            <p class="text-center mb-4">
                ¡Demuestra tus habilidades culinarias y compite por fantásticos
                premios!
            </p>
            <a
                href="#"
                class="btn btn-secondary bg-gray-500 text-white py-5 px-8 rounded-lg"
            >
                Inscribirse Ahora
            </a>
        </div>
        <hr class="my-8 border-gray-300" />
        <div class="flex flex-col items-center mb-8 lg:flex-row lg:justify-between">
            <a href="#">
                <img
                    src="/src/assets/images/logo-no-background.png"
                    alt="Logo"
                    width="200"
                    class="mb-4"
                />
            </a>
            <nav>
                <ul
                    class="flex flex-col items-center space-y-4 sm:space-y-0 sm:space-x-8 sm:flex-row"
                >
                    <li>
                        <a
                            href="#"
                            class="text-lg text-main-text-color py-2 px-4 rounded-lg"
                        >
                            Participantes
                        </a>
                    </li>
                    <li>
                        <a
                            href="#"
                            class="text-lg text-main-text-color py-2 px-4 rounded-lg"
                        >
                            Noticias
                        </a>
                    </li>
                    <li>
                        <a
                            href="#"
                            class="text-lg text-main-text-color py-2 px-4 rounded-lg"
                        >
                            Contacto
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="flex justify-center">
            <p>&copy; Universitat Oberta de Catalunya</p>
        </div>
    </div>
</footer>
