<header class="mx-auto">
    <div
        class="flex justify-between mx-auto py-8 gap-4 items-center container__size"
    >
        <a href="/">
            <img
                src="/src/assets/images/logo-no-background.png"
                alt="Logo"
                width="250"
            />
        </a>
        <input type="checkbox" id="toggle" class="hidden" />
        <label
            for="toggle"
            class="block cursor-pointer w-8 h-8 bg-transparent bg-center bg-no-repeat lg:hidden"
            style="
                background-image: url('data:image/svg+xml;utf8,<svg viewBox=&quot;0 0 100 100&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;><line x1=&quot;0&quot; y1=&quot;20&quot; x2=&quot;100&quot; y2=&quot;20&quot; stroke=&quot;black&quot; stroke-width=&quot;10&quot;/><line x1=&quot;0&quot; y1=&quot;50&quot; x2=&quot;100&quot; y2=&quot;50&quot; stroke=&quot;black&quot; stroke-width=&quot;10&quot;/><line x1=&quot;0&quot; y1=&quot;80&quot; x2=&quot;100&quot; y2=&quot;80&quot; stroke=&quot;black&quot; stroke-width=&quot;10&quot;/></svg>');
            "
        ></label>
        <nav
            class="hidden absolute top-20 left-0 w-full z-10 lg:static lg:flex lg:w-auto lg:justify-center lg:items-center"
        >
            <ul
                class="flex flex-col items-end gap-8 mt-8 pr-8 lg:flex-row lg:gap-2 lg:mt-4 lg:pr-0 lg:mb-4"
            >
                <li>
                    <a
                        href="/src/participantes.html"
                        class="text-lg lg:px-8 py-4 lg:hover:bg-main lg:hover:text-white lg:hover:rounded-xl"
                        >Participantes</a
                    >
                </li>
                <li>
                    <a
                        href="/src/noticias.html"
                        class="text-lg lg:px-8 py-4 lg:hover:bg-main lg:hover:text-white lg:hover:rounded-xl"
                        >Noticias</a
                    >
                </li>
                <li>
                    <a
                        href="/src/ia.html"
                        class="text-lg lg:px-8 py-4 lg:hover:bg-main lg:hover:text-white lg:hover:rounded-xl"
                        >IA</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
